div{
    background-color: crimson;
    /* position: relative; */

}

.space{
    /* position: absolute; */
    background-color: #fff;
    border: 2px #000 solid;
    /* width: 185px;
    height: 185px;
    font-size: 60px; */
}

.space:hover{
    background-color: darkorange;
}

.winning-square{
    background-color: darkcyan;
    color: coral;
}

#message{
}